/* ================================================== SECTIONS ================================================== */
.about-section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem 5rem;
}

.about-section .top-div {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.about-section .bottom-div {
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.top-div .about-me-div {
    border-radius: 25px;
    box-shadow: 0 1.25rem 1.875rem #121629;
    padding: 3rem 4rem;
    width: 60%;
    z-index: 1;
}

.bottom-div .mission-div {
    border-radius: 25px;
    box-shadow: 0 1.25rem 1.875rem #121629;
    padding: 3rem 4rem;
    width: 60%;
    z-index: 1;
}

.bottom-div .img-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* ================================================== SECTIONS END ================================================== */


/* ================================================== IMAGES ================================================== */

.top-div .about-img {
    margin-top: 1rem;
    width: auto;
    height: auto;
    filter: drop-shadow(1rem 1rem 1rem #121629cc);
    border-radius: 25px;
}

.bottom-div .about-img {
    width: 22rem;
    filter: drop-shadow(1rem 1rem 1rem #121629cc);
    border-radius: 25px;
}

.lineart-img {
    position: absolute;
    width: 75rem;
    top: 45rem;
    left: 32rem;
    z-index: 0;

    transition: left 0.5s ease, transform 0.5s ease;
}

/* ================================================== IMAGES END ================================================== */


/* ================================================== RESPONSIVE ================================================== */

@media (max-width: 1400px) {

    .lineart-img {
        top: 90rem;
        left: 26rem;
    }

}

@media (max-width: 1300px) {
    .about-section {
        flex-direction: column;
    }

    .about-section .top-div {
        flex-direction: column-reverse;
    }

    .about-section .bottom-div {
        flex-direction: column;
    }

    .bottom-div .img-div {
        flex-direction: row;
    }

    .lineart-img {
        top: 100rem;
        left: 0rem;
    }

    .about-section {
        padding: 5rem 0rem;
    }

    .top-div .about-me-div {
        width: 80%;
    }

    .bottom-div .mission-div {
        width: 80%;
    }
}

@media (max-width: 1000px) {

    .lineart-img {
        top: 100rem;
        left: -10rem;
    }
}

@media (max-width: 800px) {

    .top-div .about-me-div {
    width: 90%;
    }

    .bottom-div .mission-div {
        width: 90%;
    }

    .bottom-div .img-div {
        flex-direction: column;
    }

}

@media (max-width: 700px) {

    .lineart-img {
        top: 120rem;
        left: -20rem;
    }

}