:root {
    --primary-color: #cc3366;
    --primary-color-light: #ffcccc;
    --primary-color-lighter: #ffeded;
    --secondary-color: #456e1a;
    --secondary-color-light: #8b9e6a;
    --secondary-color-lighter: #DDDBCB;

    --primary-font: "Bricolage Grotesque", sans-serif;
    --secondary-font: "Lato", sans-serif;
}

/* ======================================== BASIC GLOBAL ELEMENTS ======================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--primary-color-lighter);
}

/* horizontal line */
hr {
    border: none;
    width: 5rem;
    height: 0.3rem;
    background-color: var(--primary-color-lighter);
    border-radius: 25px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

/* ======================================== BASIC GLOBAL ELEMENTS ======================================== */


/* ======================================== GLOBAL ANIMATIONS ======================================== */

.tilt-1 {
    transform: rotate(-20deg);
}

@keyframes slideDown {
  0% {
    transform: translateY(-25px); /* Start at the original position */
    opacity: 0;
  }
  100% {
    transform: translateY(0px); /* Move 200px to the right */
    opacity: 100%;
  }
}
/* ======================================== GLOBAL ANIMATIONS ======================================== */


/* ======================================== SCROLL BAR ELEMENTS ======================================== */

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: #ffeded;
}

::-webkit-scrollbar-thumb {
    background: #ffcccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffcccc8c;
}

/* ======================================== SCROLL BAR ELEMENTS END ======================================== */


/* ======================================== COLORS AND HEADING PRESETS ======================================== */

h1 {
    font-family: var(--primary-font);
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
}

h2 {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    font-weight: 600; /* Semi-Bold */
    color: white;
}

p {
    font-family: var(--secondary-font);
    font-size: 1.25rem;
    line-height: 1.5;
    text-decoration: none;
    color: white;
}

/* ======================================== END OF COLORS AND HEADING PRESETS ======================================== */