.star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--primary-color-light);
}

.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 50%;
  opacity: 0.7;
  bottom: -12px;
  right: -250%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
}

.border-gradient-top {
  position: absolute;
  opacity: 0.7;
  width: 300%;
  height: 50%;
  top: -12px;
  left: -250%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
}

.inner-content {
  position: relative;

  background: linear-gradient(135deg,rgba(69, 110, 26, 0.3) 0%, rgba(139, 158, 106, 0.3) 100%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* for older browser compatibility */
  border-radius: 1rem;
  border: 1px solid var(--primary-color-light);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  color: var(--primary-color);
  font-size: 1.3rem;
  text-align: center;
  padding: 0.5rem 1rem;
  font-family: var(--secondary-font);
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border-radius: 20px;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}
